name: 'Android Build'

on:
    workflow_call:
        inputs:
            environment:
                required: false
                type: string
                default: 'release'
        secrets:
            ANDROID_KEYSTORE:
                required: true
            ANDROID_KEY_ALIAS:
                required: true
            ANDROID_KEYSTORE_PASSWORD:
                required: true

jobs:
    build-android:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository ${{ secrets.ANDROID_KEYSTORE }}
              uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'yarn'

            - name: Install Node modules
              run: yarn ci

            - name: Cache Gradle Wrapper
              uses: actions/cache@v3
              with:
                  path: ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('android/gradle/wrapper/gradle-wrapper.properties') }}

            - name: Cache Gradle Dependencies
              uses: actions/cache@v3
              with:
                  path: ~/.gradle/caches
                  key: ${{ runner.os }}-gradle-caches-${{ hashFiles('android/gradle/wrapper/gradle-wrapper.properties') }}
                  restore-keys: |
                      ${{ runner.os }}-gradle-caches-

            - name: Make Gradlew Executable
              run: cd android && chmod +x ./gradlew

            - name: Build Android
              run: |
                  cd android && ./gradlew bundleRelease --no-daemon

            - run: pwd

            # - name: Decode Keystore
            #   run: |
            #       echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 --decode > android/app/RNArchitecture.keystore

            - name: Sign app APK
              uses: r0adkll/sign-android-release@v1
              id: sign_app
              with:
                  releaseDirectory: android/app/build/outputs/bundle/release
                  # signingKeyPath: android/app/RNArchitecture.keystore
                  signingKeyBase64: ${{ secrets.ANDROID_KEYSTORE }}
                  alias: ${{ secrets.ANDROID_KEY_ALIAS }}
                  keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
                  keyStoreType: PKCS12
                  # keyPassword: ${{ secrets.KEY_PASSWORD }}

            # Upload to Artifact # Artifact Testing
            - name: Upload Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Timely.aab
                  path: ${{ steps.sign_app.outputs.signedReleaseFile }}
